<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Formulário de Reserva</title>
    <link rel="icon" href="web-logo.png" type="image/x-icon">
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='formulario.css'>
    <link rel='stylesheet' type='text/css' media='screen' href='navbar.css'>
    <script src='main.js'></script>
    <style>
      html, body {
          margin: 0; /* Certifique-se de que não haja margens */
          background-image: url('img_oficina.png');
          background-size: cover;
          background-position: center center;
          background-repeat: no-repeat;
          background-attachment: fixed; /* Adiciona esta linha para manter a imagem fixa */
      }

    </style>
</head>
<body>
    <nav class="navbar">
        <div class="navbar-container">
          <div class="logo">
            <img src="logo-branca.png" alt="Logo">
          </div>
          <div class="redirecionamentos">
            <ul class="navbar-nav">
              <li class="nav-item"><a class="nav-link" href="{% url 'index' %}">INÍCIO</a></li>
              <li class="nav-item"><a class="nav-link" href="{% url 'demonstrativo' %}">DEMONSTRATIVO</a></li>
              <li class="nav-item"><a class="nav-link" href="{% url 'reservar' %}">RESERVAS</a></li>
            </ul>
          </div>
          <div class="icones">
            <div class="login-icon-wrapper">
              <a href="{% url 'login' %}">
                <i class="bi-person"></i>
                <svg class="login-icon" stroke="currentColor" stroke-width="1.5" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M17.982 18.725A7.488 7.488 0 0012 15.75a7.488 7.488 0 00-5.982 2.975m11.963 0a9 9 0 10-11.963 0m11.963 0A8.966 8.966 0 0112 21a8.966 8.966 0 01-5.982-2.275M15 9.75a3 3 0 11-6 0 3 3 0 016 0z" stroke-linejoin="round" stroke-linecap="round"></path>
                </svg>
              </a>
              <div class="dropdown">
                <a href="{% url 'cadastro' %}">Cadastrar-se</a>
                <a href="{% url 'login' %}">Conectar-se</a>
                <a href="{% url 'logout' %}">Desconectar-se</a>
              </div>
            </div>
          </div>
        </div>
    </nav>
    <main>
        <div class="form-container">
            <h1>Reserva de Sala</h1>
            <img id="myImage" src="BLC_SALA_C5.jpg" alt="Descrição da Imagem" style="cursor: pointer; width: 100%; max-width: 600px;">

            <!-- Fullscreen Container -->
            <div id="fullscreenContainer" style="display: none;">
                <img id="fullscreenImage" src="" alt="Fullscreen Imagem" style="width: 100%;">
            </div>
            <form action="#" method="POST" id="reserva">
                <label for="course-name">Nome da Sala</label>
                <input type="text" id="course-name" name="course-name" placeholder="Digite o nome do curso" value="Aula" readonly required>

                <label for="date">Escolha a Data</label>
                <input type="date" id="date" name="date" required>
                <label for="curso">Escolha o Curso</label>
                <select name="curso" id="curso" form="reserva">
                  <option value="volvo">Volvo</option>
                  <option value="saab">Saab</option>
                  <option value="opel">Opel</option>
                  <option value="audi">Audi</option>
                </select>              
                <label>Período</label>
                <div class="radio-group">
                    <label>
                        <input type="radio" name="period" value="antes" required>
                        <span class="custom-radio"></span>
                        Antes do intervalo
                    </label>
                    <label>
                        <input type="radio" name="period" value="após" required>
                        <span class="custom-radio"></span>
                        Após o intervalo
                    </label>
                </div>

                <button type="submit" class="submit-btn">Reservar</button>
            </form>
        </div>
    </main>
    <script>
      const myImage = document.getElementById('myImage');
      const fullscreenContainer = document.getElementById('fullscreenContainer');
      const fullscreenImage = document.getElementById('fullscreenImage');

      myImage.addEventListener('click', function() {
          fullscreenImage.src = this.src; // Define o src da imagem em fullscreen
          fullscreenContainer.style.display = 'flex'; // Mostra o container
      });

      // Fecha o fullscreen ao clicar na imagem em fullscreen
      fullscreenContainer.addEventListener('click', function() {
          fullscreenContainer.style.display = 'none'; // Esconde o container
      });

    </script>
</body>
</html>
